.chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    /* width: 400px; */
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add space between messages and input */
  }

  .message{
    margin:10px;
    padding:5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
  }